[Unit]
Description=n3tm0n application service

[Service]
WorkingDirectory=/opt/net_notice
ExecStart=/opt/net_notice/n3tm0n
Restart=always

[Install]
WantedBy=multi-user.target
